@model Witrin.Models.Markalar

@{
    ViewBag.Title = "MarkaEkle";
    Layout = "~/Views/Shared/Yonetim.cshtml";
}

<h2>MarkaEkle</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Markalar</legend>

        <div class ="form-control" style="width:233px;">
            @Html.LabelFor(model => model.marka_ad)
        </div>
        <div class="editor-field" style="font-size:20px;" >
            @Html.EditorFor(model => model.marka_ad)
            @Html.ValidationMessageFor(model => model.marka_ad)
        </div>

        <br />

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


